In [1]:
import pandas as pd
import datetime

In [2]:
inflation_df = pd.read_csv('Resources/interest.csv',encoding='cp1252', skiprows=[0,2,3,4,5,6,7,8,9,10])

In [3]:
inflation_df.head(12)

,Title,Cash Rate Target,Interbank Overnight Cash Rate,Highest Interbank Overnight Cash Rate,Lowest Interbank Overnight Cash Rate,Volume of Cash Market Transactions,Number of Cash Market Transactions,1-month BABs/NCDs,3-month BABs/NCDs,6-month BABs/NCDs,...,3-month OIS,6-month OIS,1-month Treasury Note,3- month Treasury Note,6- month Treasury Note,Unnamed: 16,Unnamed: 17,Unnamed: 18,Unnamed: 19,Unnamed: 20
0,Jun-1969,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5.90,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Jul-1969,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5.80,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Aug-1969,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6.10,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Sep-1969,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5.80,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Oct-1969,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5.60,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,Nov-1969,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5.70,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,Dec-1969,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5.65,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,Jan-1970,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5.80,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,Feb-1970,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6.30,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,Mar-1970,NaN,NaN,NaN,NaN,NaN,NaN,NaN,7.15,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,Apr-1970,NaN,NaN,NaN,NaN,NaN,NaN,NaN,8.60,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,May-1970,NaN,NaN,NaN,NaN,NaN,NaN,NaN,9.10,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN