In [1]:
import pandas as pd
import datetime

In [5]:
inflation_df = pd.read_csv('Resources/interest.csv',encoding='cp1252')

In [6]:
inflation_df.head()

,F1.1 INTEREST RATES AND YIELDS – MONEY MARKET,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 11,Unnamed: 12,Unnamed: 13,Unnamed: 14,Unnamed: 15,Unnamed: 16,Unnamed: 17,Unnamed: 18,Unnamed: 19,Unnamed: 20
0,Title,Cash Rate Target,Interbank Overnight Cash Rate,Highest Interbank Overnight Cash Rate,Lowest Interbank Overnight Cash Rate,Volume of Cash Market Transactions,Number of Cash Market Transactions,1-month BABs/NCDs,3-month BABs/NCDs,6-month BABs/NCDs,...,3-month OIS,6-month OIS,1-month Treasury Note,3- month Treasury Note,6- month Treasury Note,NaN,NaN,NaN,NaN,NaN
1,Description,Cash Rate Target; monthly average,Interbank Overnight Cash Rate; monthly average,Highest Interbank Overnight Cash Rate; monthly...,Lowest Interbank Overnight Cash Rate; monthly ...,Volume of Interbank Overnight Cash Market Tran...,Number of Interbank Overnight Cash Market Tran...,Bank Accepted Bills/Negotiable Certificates of...,Bank Accepted Bills/Negotiable Certificates of...,Bank Accepted Bills/Negotiable Certificates of...,...,Overnight Indexed Swaps-3 months; monthly average,Overnight Indexed Swaps-6 months; monthly average,Treasury Notes-1 month; monthly average,Treasury Notes-3 months; monthly average,Treasury Notes-6 months; monthly average,NaN,NaN,NaN,NaN,NaN
2,Frequency,Monthly,Monthly,Monthly,Monthly,Monthly,Monthly,Monthly,Monthly,Monthly,...,Monthly,Monthly,See notes,See notes,See notes,NaN,NaN,NaN,NaN,NaN
3,Type,Original,Original,Original,Original,Original,Original,Original,Original,Original,...,Original,Original,Original,Original,Original,NaN,NaN,NaN,NaN,NaN
4,Units,Per cent,Per cent,Per cent,Per cent,$m,Number,Per cent,Per cent,Per cent,...,Per cent,Per cent,Per cent,Per cent,Per cent,NaN,NaN,NaN,NaN,NaN