In [1]:
import pandas as pd
from sqlalchemy import create_engine
from sqlalchemy import inspect
from login import pw

In [2]:
interest_file  = "Resources/interest.csv"
interest_df = pd.read_csv(interest_file,encoding='cp1252',skiprows=[0,2,3,4,5,6,7,8,9,10])
interest_df.head()

,Title,Cash Rate Target,Interbank Overnight Cash Rate,Highest Interbank Overnight Cash Rate,Lowest Interbank Overnight Cash Rate,Volume of Cash Market Transactions,Number of Cash Market Transactions,1-month BABs/NCDs,3-month BABs/NCDs,6-month BABs/NCDs,...,3-month OIS,6-month OIS,1-month Treasury Note,3- month Treasury Note,6- month Treasury Note,Unnamed: 16,Unnamed: 17,Unnamed: 18,Unnamed: 19,Unnamed: 20
0,Jun-1969,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5.9,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Jul-1969,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5.8,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Aug-1969,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6.1,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Sep-1969,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5.8,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Oct-1969,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5.6,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [3]:
interest_new_data_df = interest_df[['Title', 'Cash Rate Target', 'Interbank Overnight Cash Rate','1-month BABs/NCDs','3-month BABs/NCDs','6-month BABs/NCDs']].copy()
interest_new_data_df = interest_new_data_df.rename(columns={'Title':'Date'})
interest_new_data_df.head()

,Date,Cash Rate Target,Interbank Overnight Cash Rate,1-month BABs/NCDs,3-month BABs/NCDs,6-month BABs/NCDs
0,Jun-1969,NaN,NaN,NaN,5.9,NaN
1,Jul-1969,NaN,NaN,NaN,5.8,NaN
2,Aug-1969,NaN,NaN,NaN,6.1,NaN
3,Sep-1969,NaN,NaN,NaN,5.8,NaN
4,Oct-1969,NaN,NaN,NaN,5.6,NaN

In [5]:
protocol = 'postgresql'
username = 'postgres'
password = pw
host = 'localhost'
port = 5432
database_name = 'project2_db'
rds_connection_string = f'{protocol}://{username}:{password}@{host}:{port}/{database_name}'
engine = create_engine(rds_connection_string)
insp = inspect(engine)