In [11]:
import pandas as pd
from sqlalchemy import create_engine
from sqlalchemy import inspect
from login import uname, pw

In [12]:
interest_file  = "Resources/interest.csv"
interest_df = pd.read_csv(interest_file,encoding='cp1252',skiprows=[0,2,3,4,5,6,7,8,9,10])
interest_df.head()

,Title,Cash Rate Target,Interbank Overnight Cash Rate,Highest Interbank Overnight Cash Rate,Lowest Interbank Overnight Cash Rate,Volume of Cash Market Transactions,Number of Cash Market Transactions,1-month BABs/NCDs,3-month BABs/NCDs,6-month BABs/NCDs,...,3-month OIS,6-month OIS,1-month Treasury Note,3- month Treasury Note,6- month Treasury Note,Unnamed: 16,Unnamed: 17,Unnamed: 18,Unnamed: 19,Unnamed: 20
0,Jun-1969,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5.9,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Jul-1969,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5.8,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Aug-1969,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6.1,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Sep-1969,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5.8,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Oct-1969,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5.6,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [13]:
interest_new_data_df = interest_df[['Title', 'Cash Rate Target', 'Interbank Overnight Cash Rate','1-month BABs/NCDs','3-month BABs/NCDs','6-month BABs/NCDs']].copy()
interest_new_data_df = interest_new_data_df.rename(columns={'Title':'date'})
interest_new_data_df.head()

,date,Cash Rate Target,Interbank Overnight Cash Rate,1-month BABs/NCDs,3-month BABs/NCDs,6-month BABs/NCDs
0,Jun-1969,NaN,NaN,NaN,5.9,NaN
1,Jul-1969,NaN,NaN,NaN,5.8,NaN
2,Aug-1969,NaN,NaN,NaN,6.1,NaN
3,Sep-1969,NaN,NaN,NaN,5.8,NaN
4,Oct-1969,NaN,NaN,NaN,5.6,NaN

In [14]:
interest_new_data_df['date']= pd.to_datetime(interest_new_data_df['date'])

In [15]:
interest_new_data_df['quarter']= pd.PeriodIndex(interest_new_data_df.date, freq ='Q')
interest_new_data_df

,date,Cash Rate Target,Interbank Overnight Cash Rate,1-month BABs/NCDs,3-month BABs/NCDs,6-month BABs/NCDs,quarter
0,1969-06-01,NaN,NaN,NaN,5.9,NaN,1969Q2
1,1969-07-01,NaN,NaN,NaN,5.8,NaN,1969Q3
2,1969-08-01,NaN,NaN,NaN,6.1,NaN,1969Q3
3,1969-09-01,NaN,NaN,NaN,5.8,NaN,1969Q3
4,1969-10-01,NaN,NaN,NaN,5.6,NaN,1969Q4
...,...,...,...,...,...,...,...
701,NaT,NaN,NaN,NaN,NaN,NaN,NaT
702,NaT,NaN,NaN,NaN,NaN,NaN,NaT
703,NaT,NaN,NaN,NaN,NaN,NaN,NaT
704,NaT,NaN,NaN,NaN,NaN,NaN,NaT
705,NaT,NaN,NaN,NaN,NaN,NaN,NaT

In [16]:
interest_new_data_df['quarter']=interest_new_data_df['quarter'].astype(str)

In [17]:
interest_new_data_df.dropna(inplace=True)
interest_new_data_df

,date,Cash Rate Target,Interbank Overnight Cash Rate,1-month BABs/NCDs,3-month BABs/NCDs,6-month BABs/NCDs,quarter
277,1992-07-01,5.91,5.93,5.84,5.64,5.50,1992Q3
278,1992-08-01,5.75,5.86,5.88,5.73,5.66,1992Q3
279,1992-09-01,5.75,5.74,5.91,5.94,5.99,1992Q3
280,1992-10-01,5.75,5.74,5.86,5.86,5.88,1992Q4
281,1992-11-01,5.75,5.77,5.88,5.88,5.92,1992Q4
...,...,...,...,...,...,...,...
635,2022-05-01,0.33,0.29,0.39,1.00,1.79,2022Q2
636,2022-06-01,0.73,0.69,0.92,1.60,2.48,2022Q2
637,2022-07-01,1.28,1.24,1.48,2.07,2.87,2022Q3
638,2022-08-01,1.81,1.77,1.89,2.31,2.92,2022Q3
639,2022-09-01,2.25,2.21,2.41,2.76,3.26,2022Q3

In [18]:
interest_new_data_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 363 entries, 277 to 639
Data columns (total 7 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   date                           363 non-null    datetime64[ns]
 1   Cash Rate Target               363 non-null    float64
 2   Interbank Overnight Cash Rate  363 non-null    float64
 3   1-month BABs/NCDs              363 non-null    float64
 4   3-month BABs/NCDs              363 non-null    float64
 5   6-month BABs/NCDs              363 non-null    float64
 6   quarter                        363 non-null    object
dtypes: datetime64[ns](1), float64(5), object(1)
memory usage: 22.7+ KB

In [19]:
protocol = 'postgresql'
host = 'localhost'
port = 5432
database_name = 'project2_db'
rds_connection_string = f'{protocol}://{uname}:{pw}@{host}:{port}/{database_name}'
print(rds_connection_string)
engine = create_engine(rds_connection_string)
insp = inspect(engine)

postgresql://postgres:work98@localhost:5432/project2_db

In [20]:
interest_new_data_df.to_sql(name='interest', con=engine, if_exists='replace', index=True)

In [21]:
pd.read_sql_query('select * from interest', con=engine).head()

,index,date,Cash Rate Target,Interbank Overnight Cash Rate,1-month BABs/NCDs,3-month BABs/NCDs,6-month BABs/NCDs,quarter
0,277,1992-07-01,5.91,5.93,5.84,5.64,5.50,1992Q3
1,278,1992-08-01,5.75,5.86,5.88,5.73,5.66,1992Q3
2,279,1992-09-01,5.75,5.74,5.91,5.94,5.99,1992Q3
3,280,1992-10-01,5.75,5.74,5.86,5.86,5.88,1992Q4
4,281,1992-11-01,5.75,5.77,5.88,5.88,5.92,1992Q4